* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.heading-visual {
  width: 100%
  heigh: 400px;
  background-image: url(img3/mv.jpg);
  background-size: cover;
  background-position: bottom;
}

.heading {
  padding: 20px 0 0 20px;
  color: #7d7d7d;
}

.school-box {
  padding-top: 50px;
}

.school-text {
  color: gray;
}